* {
    font-family: FontAwesome, Cascadia Code, Noto Sans Mono CJK JP;
    font-size: 15px;
}

window#waybar {
    background-color: #181c24;
    color: #ffffff;
}


#custom-cpu, #custom-gpu, #custom-mem, #custom-uptime, #custom-volume, #clock {
    padding: 0 10px;
    margin: 2px 0;
}

#custom-cpu {
    background-color: #e06c75;
    border-radius: 10px 0 0 10px;
}

#custom-gpu {
    background-color: #e5c07b;
}

#custom-mem {
    background-color: #98c379;
}

#custom-uptime {
    background-color: #56b6c2;
}

#custom-volume {
    background-color: #9b9beb
}

#clock {
    background-color: #d787d7;
    border-radius: 0 10px 10px 0;
}

#mpd {
    font-size: 12px;
    margin: 0 30px;
}
